

.form-side1 {
    height: 100vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-background);
  }
  
  .form,
  .new-account {
    min-width: 350px;
  }
  
  .form h1 {
    color: var(--color-text-title);
  }
  
  .form fieldset{
    border: none;
    margin-top: 3rem;
  }
  
  .form fieldset div + div{
    display: flex;
  }
  
  .block-input{
    position: relative;
    overflow: hidden;
  }
  
  .block-input input{
    width: 100%;
    height: 70px;
    padding-left: 20px;
    padding-top: 15px;
  
    border: 2px solid var(--color-line-in-white);
    color: var(--color-text-base);
    outline: 0;
  }
  
  .form fieldset .block-input input[name=email]{
    border-radius: 10px 10px 0px 0px;
  }
  
  .form fieldset .block-input input[name=senha]{
    border-radius: 0px 0px  0px 10px;
    border: 2px solid var(--color-line-in-white);
    border-top: none;
    border-right: none;
  }
  
  .block-input label{
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 100%;
    height: 100%;
    pointer-events: none;
  
    font: normal 1.6rem Poppins;
    color: var(--color-text-complement);
    line-height: 2rem;
  }
  
  .block-input label::before{
    content: "";
    position: absolute;
    height: 70%;
    width: 10px;
    border-left: 2.5px solid var(--color-primary);
    left: -19px;
    transform: translateY(-150%);
    transition: transform 0.3s ease
  }
  
  .content-name{
    position: absolute;
    bottom: 35px;
    transition: all 0.3s ease
  }
  
  .block-input input:focus + .label-input .content-name,
  .block-input input:valid + .label-input .content-name{
    transform: translateY(-100%);
    font-size: 1.2rem;
    color: var(--color-primary-darker);
  }
  
  .block-input input:focus + .label-input::before,
  .block-input input:valid + .label-input::before{
    transform: translateY(0%);
  }
  
  .input-password{
    display: flex;
    border-radius: 0px 0px 10px 10px;
    border: 2px solid var(--color-line-in-white);
    border-left: 0;
    border-top: 0;
    background: var(--color-box-base);
  }
  
  .input-password img{
    padding: 0 2rem;
    cursor: pointer;
  }
  
  .more-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: normal 1.4rem Poppins;
    line-height: 2.4rem;
    margin-top: 3rem;
  }
  
  .check {
    position: relative;
    padding-left: 4rem;
    padding-top: .2rem;
    cursor: pointer;
    font: normal 1.5rem Poppins;
    line-height: 2.4rem;
    color: var(--color-text-complement);
    align-items: center;
  }
  
  .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.8rem;
    width: 2.8rem;
    background-color: var(--color-box-footer);
    border: 2px solid var(--color-line-in-white);
    border-radius: 8px
  }
  
  .check:hover input ~ .checkmark {
    background-color: var(--color-line-in-white);
  }
  
  .check input:checked ~ .checkmark {
    background-color: var(--color-secundary);
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .check input:checked ~ .checkmark:after {
    display: block;
  }
  
  .check .checkmark:after {
    top: 7px;
    left: 9px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  
  .more-actions a{
    text-decoration: none;
    color: var(--color-text-complement);
  }
  
  .form button{
    margin: 0 auto;
    width: 100%;
    height: 5.6rem;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    line-height: 2.6rem;
    font: 600 1.6rem Archivo;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 4rem;
  }
  
  .buttonSubmit {
    background: var(--color-secundary);
    color: var(--color-button-text);
  }
  
  .buttonSubmit:hover {
    background: var(--color-secundary-dark);
  }
  
  .disabledButtonSubmit {
    background: var(--color-text-in-primary);
    color: var(--color-text-title);
  }
  
  
  
  .new-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.2rem;
  }
  
  .new-account div:first-child {
    color: var(--color-text-base);
    display: flex;
    flex-direction: column;
  
    font-family: Poppins;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  
  .new-account div a {
    color: var(--color-primary);
    font-weight: bold;
  }
  
  .new-account div + div {
    color: var(--color-text-complement);
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    width: 90px;
    font-family: Poppins;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: bold;
  }
  