.containaer > div{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.background-side {
  height: 100vh;
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets//images/login-background.svg");
}

.bg-content,
.bg-content img {
  width: 400px;
}

.bg-content p {
  color: var(--color-text-in-primary);
  font-size: 3rem;
}